/AI/*
/client/BGM/*
/client/data/*
/client/resources/*
/client/System/*
/dist/
/dist-node/
/node_modules/
/src/Plugins/*/
!/src/Plugins/native-manager/
/index.html
Config.local.js
/config.local.json
/package-lock.json
/GrannyModelViewer.js
/GrfViewer.js
/MapViewer.js
/ModelViewer.js
/Online.js
/StrViewer.js
/ThreadEventHandler.js
/data/*
/save/*

# IDE files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
